body {
    font-family: 'Montserrat', sans-serif;
}

a,
a:hover {
    color: black;
}
h1,h2,h3,h4,h5,h6{
    font-weight: inherit ;
    line-height: inherit;
}
p{
    margin: 0;
}
section {
    padding: 3em 0;
}


/* RESPONSIVENESS */


/* Untill medium devices */

@media (max-width: 768px) {
    body {
        font-size: 14.5px !important;
    }
    .navbar {
        background: #F2F5F6;
    }
}


/* pages style */

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("../images/loading_dots.gif") 50% 50% no-repeat rgb(249, 249, 249);
}

.top-heading-text {
    text-align: center;
    font-size: 1.6em;
}

.sub-heading-size {
    font-size: 1.4em;
}

.section-bg-color {
    background-color: #F2F5F6;
}

.go-down-btn {
    transition: top ease 0.2s;
    position: relative;
    top: 0.5rem;
    padding: 0.8rem;
}

.go-down-btn:hover {
    top: 1rem
}


/* menu button */

.menu-bar {
    background: url("../images/menu.png");
    height: 20px;
    width: 20px;
    display: block;
}

.menu-close {
    background: url("../images/close-menu.png");
    height: 20px;
    width: 20px;
    display: block;
}

#menu-btn {
    outline: none !important;
    box-shadow: none;
}


/* skill bar */

.skills div {
    margin-bottom: 10px;
}

.skills li {
    list-style-type: none;
    margin-bottom: 15px;
}

.bar {
    display: block;
    height: 4px;
    border: 1px solid #F2F5F6;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 8px #E6E6FA;
}

.bar span {
    height: 4px;
    float: left;
    background-color: lightgray;
}


/* experince bar */

.experiance-box {
    margin-left: 40px;
    top: -25px;
    position: inherit;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-200 {
    font-weight: 200;
}

.experiance-bar {
    list-style: none;
}

.experiance-bar>li {
    position: relative;
    max-height: 80px;
}

.experiance-bar>li:before {
    content: '\25CF';
    margin-right: 10px;
    font-size: 20px;
    color: lightgray;
}

.experiance-bar>li:after {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    border-left: 2px solid lightgray;
    margin-left: 5px;
    height: 100%;
}

.experiance-bar>li>div:first-of-type:after {
    top: 50%;
}

.experiance-bar>li:last-of-type:after {
    top: -50%;
}


/* footer */

.circle-icon {
    border-radius: 50%;
    border: 1.5px solid black;
    text-align: center;
    vertical-align: middle;
    padding: 6px;
    margin: 0 3px;
}

.circle-icon:hover {
    text-decoration: none;
}